  <div id="gisqus_thread"></div>
  <script src="https://giscus.app/client.js"
  data-repo="dajeongdev/dajeongdev.github.io"
  data-repo-id="R_kgDOHS7Ikw"
  data-category="General"
  data-category-id="DIC_kwDOHS7Ik84Cj70Z"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  crossorigin="anonymous"
  async>
  let giscusAttributes = {
  src: "https://giscus.app/client.js",
  "data-repo": "da-in/da-in.github.io",
  "data-repo-id": "MDEwOlJlcG9zaXRvcnkzNTM5MDcyOTU=",
  "data-category": "General",
  "data-category-id": "DIC_kwDOFRgyX84CSEWg",
  "data-mapping": "pathname",
  "data-reactions-enabled": "1",
  "data-emit-metadata": "0",
  "data-theme": initTheme,
  "data-input-position":
    "bottom",
  "data-lang": "",
  crossorigin: "anonymous",
  async: "",
};

let giscusScript = document.createElement("script");
Object.entries(giscusAttributes).forEach(([key, value]) =>
  giscusScript.setAttribute(key, value)
);
document.getElementById("tail-wrapper").appendChild(giscusScript);
</script>